<style>
    body {
        display: inline;
        color: #433E3F;
        background: #F9ECE0;
        max-width: 1920px;
        margin: auto;
        font-size: 21px;
    }
  
</style>


<div class="container">
      <div class="row" id="top">
          <div class="col-lg-6 mx-auto " >
          <h2>Publish Here!</h2>
            </div>
             <div class="col-lg-5 mx-auto " >
            <ul class="nav justify-content-center">
             <span id="readhere">Oh Hai</span>

  {{!-- <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
    
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/tiddytips">Tips</a>
    
  </li>
  
  <li class="nav-item">
    <a class="nav-link" href="/routes">List Generator</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">more info</a>
  </li>
</ul>  --}}
      </div>
       </div>
    </div>

 
    
{{!-- <script type="text/javascript">
    var bedroom = document.getElementById("bedroom");

    //$('.carousel').carousel();
    ///percantege of website width includes border
    //https://flexboxfroggy.com/
    $("#bedroom").on("click", function () {
        $('.carousel').carousel(0);
        $('.carousel').carousel('pause');
    });
    $("#closet").on("click", function () {
        $('.carousel').carousel(1);
        $('.carousel').carousel('pause');


</script> --}}